<%# Devise reset password email - points users to the frontend reset form %>
<%
  # Use FRONTEND_URL env or credentials in production. For local development
  # default to http://localhost:3001 to avoid colliding with the Rails server
  frontend = Rails.application.credentials.dig(:frontend, :url) || ENV['FRONTEND_URL'] || 'http://localhost:5173'
%>

<p>Hello <%= @resource.email %>,</p>

<p>Someone has requested a link to change your password. You can change your password by clicking the link below:</p>

<p>
  <a href="<%= "#{frontend}/reset-password?reset_password_token=#{@token}" %>">
    Change my password
  </a>
</p>

<p>If you didn't request this, please ignore this email.</p>

<p>Thanks,<br/>Bizmind AI</p>
